@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-color: #051834;
  --container-image: url('../images/bckdarkbluesection.png');

  --border-color: #7bbcfc;
  --primary-color: #7bfcc0;
  --secondary-color: #0c4d8d;

  --background-color: #2e2929;
  --background-image: url('../images/bck_graydark.png');
  --background1-image: url('../images/bck-card-titulo.png');
  --foreground-color: #2c2965;
  --foreground-image: url('../images/bck-gray.png');

  --section-space: 24px;
  --line-height: 24px;

  --font-family: 'Roboto', serif;
  font-size: 62.5%;
  font-family: var(--font-family);
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 98%;
  /*1366 XX 768*/
  height: auto;
  max-width: 1900px;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

body {
  font-family: var(--font-family);
  font-size: 2.0rem;
  font-weight: 400px;
  line-height: 3.5rem;
  color: white;
  border-color: var(--border-color);
  border: none;
}


button,
input {
    display: inline-block;
    width: 250px;
    height: 45px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2.5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.50rem;
    color: var(--buttons-text-colors);
    background-color: var(--buttons-colors);
    background-image: var(--bck-buttons);
    border-color: var(--buttons-colors);
    margin: var(--padding-default);
}

.btn-outline{
    background-color: var(--md-ref-foreground-color);
    background-image: var(--md-ref-foreground-image);
    color: var(--primary-color);
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}

h2 {
  padding: 8px;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 8px;
  margin: 8px;
}

p {
  margin-bottom: 16px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 30px;
  color: white;
}

b {
  color: var(--primary-color);
}

span {
  font-size: 1.4rem;
  color: #2dd454;
}

ol {
  width: 92%;
  margin-left: 2px;
  padding:4px;
  color: white;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  list-style-type: none;
}

Ol li {
  font-size: 2.0rem;
  line-height: 2.3rem;
  margin-bottom: 12px;
  color: var(--border-color);
  text-transform: uppercase;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: var(--foreground-color);
  background-image: var(--background-image);
  border-bottom: 2px solid;
  border-color: var(--border-color);
  margin-bottom: var(--section-space);
}

header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: inherit;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: inherit;
  padding: 4px;
  margin: 3px;
}

header .logo img {
  width: 70%;
  height: auto;
}

header .logo-title {
  width: 230px;
}

a:link,
a:visited {
  color: white;
}

/* MAIN */
main {
  width: 100%;
  height: 2250PX;
  display: flex;
  padding: 8px;
  background-image: var(--foreground-image);
}

aside {
  width: 200px;
  height: inherit;
  padding: 6px;
  /* background-image: var(--foreground-image); */
  background-image: var(--background-image);
}

section.section-main {
  width: 1700px;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.section-display {
  width: 100%;
  height: 400px;
  padding: 4px;
  text-align: center;
  margin-bottom: var(--section-space);
}

section.section-display img {
  width: 100%;
  height: 400px;
  padding: 4px;
}

section.section-products {
  width: 100%;
  height: 400px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: var(--background-image);
  margin-bottom: var(--section-space);
}

section.section-products h1 {
  margin: var(--section-space);
}

section.section-products-line {
  width: 100%;
  height: 320px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

/* CARDS */
div.card-products{
  width: 24%;
  height: inherit;
  border-radius: 15px;
  border: 1px solid;
  border-color: #2e2929;
  background-image: var(--foreground-image);
}

div.card-products-brand{
  width: 100%;
  height: 220px;
  border-radius: 15px;
  background-image: var(--background-image);
}

div.card-products-footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}



/****** FOOTER *********/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 650px;
  padding: 10px;
  border-top: 2px solid;
  background-image: var(--background-image);
  text-align: center;
}

footer .footer-col {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--padding-default);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-space);

}

footer .footer-col img {
  border-radius: 15px;
  width: 80%;
  height: auto;
}

footer .footer-contact {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-contact img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 715px) {
  footer {
    background-image: var(--background1-image);
  }

}

/* large */
@media only screen and (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 10px;
    border-top: 2px solid;
    border-color: white;
    background-image: var(--background-image);
    text-align: center;
  }
}